*{
    font-family: 'Ubuntu', sans-serif;
    
}
header {
    width: 100%;
    position:fixed;
}
/* NAVBAR */
#title{
    background-color:#191825; 
}
#nameapp {
    font-size: calc(2.5em);
    color:#FFA3FD;
}

/* Icons NAVBAR */
.iconnavbar{
    color:#FFA3FD;
    padding-right: 3px;
}
.iconnavbar:hover{
    color:#da79d8;
}

/* Buttons */
.wherebutton{
    background-color:#E384FF ;
    color: #191825;;
    text-align: center;
}
.wherebutton:hover{
    background-color:#da79d8;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color:#FFA3FD;
}
.sectionwords{
    text-align: center;
}
.sectionwords h1{
    font-size: calc(2.5em);
}

/* Testimonios */
.testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.testimonials h2 {
    color: black;
}

.testimonialsImg {
    border-radius: 30%;
    width: 15%;
    margin: 20px;
}

/* Modalidad Suscripción */
.ModalidadSus {
    text-align: center;
    width: 10%;
}

.ModalidadSus h1 {
    padding-top: 2%;
    
}

/* Cards */
.card {
    text-align: center;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    background-color:#E384FF ;
    border:solid 2px black;
    max-width: 18rem;
}
.ocard{
    padding-bottom: 4%;
}
/* Footer */
.pieDpagina{
    background-color: #ef8172;
    color: white;
}



